@media (max-width: 960px){
    body{
        overflow-x: hidden;
    }
    header .banner{
        width: 100%;
    }
    
    header .logo-pai{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    header .logo{
        margin-left: 0%;
    }

    main {
        width: 100%;
        margin-top: 6%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    main .info{
        width: 100%;
        margin-bottom: 3%;
    }

    main .icons{
        margin-top: 3%;
    }

    main .links {
        margin-bottom: 18%;
    }

    main .info .perfil p.link{
        margin-bottom: 8%;
    }


    
    section#biography{
        width: 100%;
        font-size: 1.1em;
    }

    section#biography .profile-text{
        width: 95%;
        font-size: 1.3em;
    }

    

    section#biography .profile-photo{
        display: none;
    }

    section#biography i{
        display: flex;
    }


    section#projects .projects-main{
        width: 100%;
    }

    section#projects .projects-main .projects-slides{
        width: 70vw;
    }

    section#projects .projects-main .projects-tecs .icons{
        width: 80vw;
    }

    footer{
        padding-bottom: 0.5em;
    }  

}

@media (max-width: 590px){
    main{
        margin-top: 15%;
    }
    header {
        height: 25%;
    }
    header .banner{
        height: 25vh;
    }

    div.scroll-top{
        display: none;
    }


    section#projects .projects-main .projects-slides{
        width: 90vw;
    }

}


@media (max-width: 350px){
    body{
        overflow-x: hidden;
    }
    header .banner{
        width: 100%;
    }

    button.tema{
        margin-top: 2%;
    }
    
    main {
        width: 100%;
        margin-top: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    main .info{
        width: 100%;
        margin-bottom: 12%;
    }

    main .icons{
        margin-top: 12%;
    }

    main .links {
        margin-bottom: 25%;
    }


    main .info .perfil p.link{
        margin-bottom: 15%;
    }   

    div.scroll-top{
        margin-top: 80%;
    }

    footer{
        padding-bottom: 0.5em;
    }
}