section#projects{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

section#projects .projects-main{
    align-items: center;
    height: 100%;
    width: 100%;
}

section#projects .projects-main h2{
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

span{
    color: var(--type);
}


section#projects .projects-main .projects-slides{
    width: 65%;
    margin: auto;
}

img{
    width: 100%;
    height: 75vh;
}


img.slide-img-1{
    cursor: pointer;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/projects/breve.gif");
}

img.slide-img-2{
    cursor: pointer;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/projects/breve.gif");
}
