*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 1280px;
    max-height: 100vh;
    overflow: hidden;
    font-size: 1.1em;
}
    header{
        background-color: #5322e3cc;
        height: 14vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span{
        color: #6d94ffcc;
    }
    main{
        height: 76vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }