section#tables{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 1%;
}

section#tables .tables-main{
    align-items: center;
    height: 100%;
    width: 100%;
}

section#tables .tables-main h2{
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

span.titile{
    color: var(--type);
}


section#tables .tables-main .tables-slides{
    width: 99%;
    height: 86%;
    margin: auto;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


section#tables .tables-main .tables-slides .card{
    height: 500px;
    border-radius: 20px;
    width: 350px;
    background-color: var(--card);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    transition: .3s ease;
    box-shadow: 1px 1px 1px var(--bordinha);

}

section#tables .tables-main .tables-slides .card:hover{
    box-shadow: 4px 4px 4px var(--type);
    
}


section#tables .tables-main .tables-slides .card i{
    font-size: 5em;
    color: var(--icon);
}



section#tables .tables-main .tables-slides .card ul li{
    display: flex;
    gap: 10px;
    font-size: 1.2em;
    padding: 5px;
    color: var(--text-color);
    
}

section#tables .tables-main .tables-slides .card ul li.dolar {
    margin-top: 25px;
    font-size: 1.3em;
    color: var(--icon);

}

section#tables .tables-main .tables-slides .card ul li.dolar span{
    color: var(--icon);
}

section#tables .tables-main .tables-slides .card ul li.dolar,
section#tables .tables-main .tables-slides .card ul li.dolar i.dolar{
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--type);
    justify-content: center;
}


section#tables .tables-main .tables-slides .card ul li i{
    font-size: 1em;
}



section#tables .tables-main .tables-slides .card button{
    padding: 15px 100px;
    border: 0;
    font-size: 1.2em;
    border-radius: 20px;
    color: var(--text-color);
    background-color: var(--color);
    transition: .2s ease;
    box-shadow: 1px 1px 1px var(--bordinha);
    cursor: pointer;
}

section#tables .tables-main .tables-slides .card button:hover{
    opacity: 70%;
}