section#certified{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

section#certified .certified-main{
    align-items: center;
    height: 100%;
    width: 100%;
}

section#certified .certified-main h2{
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

span{
    color: var(--type);
}


section#certified .certified-main .certified-slides{
    width: 60%;
    margin: auto;
}

img{
    width: 100%;
    height: 75vh;
}


img.slide-img-1{
    cursor: pointer;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/certified/html.webp");
}

img.slide-img-2{
    cursor: pointer;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/certified/css.webp");
}

img.slide-img-3{
    cursor: pointer;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/certified/js.webp");
}